<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/base.xml"/>
    <include resource="org/springframework/boot/logging/logback/defaults.xml" />
    <include resource="org/springframework/boot/logging/logback/console-appender.xml" />

    <logger name="org.hibernate.SQL"                    level="DEBUG"/>
    <logger name="org.hibernate.tool.hbm2ddl"           level="DEBUG"/>
    <logger name="org.hibernate.type"                   level="DEBUG"/>
    <logger name="org.hibernate.stat"                   level="DEBUG"/>
    <logger name="org.hibernate.type.BasicTypeRegistry" level="DEBUG"/>
    <logger name="com.app.reservation"                  level="DEBUG"/>
</configuration>
